<div class="fundoLogin">
  <img class="absolute  top-[22rem] left-[10%] w-80 flex justify-self-center" src="../../assets/logo.svg" alt="" />
  <div
    class="z-20 h-[60%] w-[36%] rounded-3xl glass-card absolute top-40 left-[55%] items-center  grid  px-16 pb-8"
  >
  <div class="grid gap-1 justify-items-center">
    <h1 class="text-background_one text-3xl font-medium">Cadastre-se</h1>
    <span class="text-background_one text-lg">Planeje o churrasco perfeito. </span>

  </div>
    <div class="grid gap-5">
      <app-inputs label="Nome" placeholder="Nome" class="" styles="secondary"></app-inputs>
      <app-inputs label="Email" placeholder="Email" class="" styles="secondary"></app-inputs>
      <app-inputs label="Senha" placeholder="Senha" class="" styles="secondary"></app-inputs>
      <app-inputs label="Confirmar Senha" placeholder="Confirmar Senha" class="" styles="secondary"></app-inputs>
    </div>

    <div class="grid gap-3 self-end">
      <app-button class="" label="Salvar" variant="primary"></app-button>

    </div>
  </div>

  <footer class="fixed -bottom-8 -right-8 pointer-events-none z-10">
    <img src="../../assets/logo_circular_2.svg" alt="" />
  </footer>
</div>
