<div class="fundoLogin">
  <div
    class="z-20 h-[60%] w-[36%] rounded-3xl glass-card absolute top-40 left-[55%] items-center  grid  px-16 pb-8"
  >
    <img class="w-60 flex justify-self-center" src="../../assets/logo.svg" alt="" />

    <div class="grid gap-5">
      <app-inputs label="Email" placeholder="Email" class="" styles="secondary"></app-inputs>
      <app-inputs label="Senha" placeholder="Senha" class="" styles="secondary"></app-inputs>
    </div>

    <div class="grid gap-3 self-end">
      <app-button class="" label="Entrar" variant="primary"></app-button>
      <app-button   label="Cadastrar" variant="secondary"></app-button>
    </div>
  </div>

  <footer class="fixed -bottom-8 -right-8 pointer-events-none z-10">
    <img src="../../assets/logo_circular_2.svg" alt="" />
  </footer>
</div>
