<div class="fundoLogin">
  <div
    class="z-20 h-[60%] w-[36%] rounded-3xl glass-card absolute top-40 left-[55%] items-center  grid  px-16 pb-8"
  >
    <img class="w-60 flex justify-self-center" src="../../assets/logo.svg" alt="" />

    <form [formGroup]="form" class="grid gap-5">
      <app-inputs
        label="Email"
        placeholder="Email"
        id="email"
        [control]="getControl('email')"
        [required]="true"
        [errorMessages]="{ email: 'Digite um e-mail válido' }"
        styles="secondary"
      ></app-inputs>

      <app-inputs
        label="Senha"
        placeholder="Senha"
        id="senha"
        type="password"
        [control]="getControl('password')"
        [required]="true"
        [errorMessages]="{ minlength: 'A senha precisa ter ao menos 6 caracteres' }"
        styles="secondary"
      ></app-inputs>
    </form>

    <div class="grid gap-3 self-end">
      <app-button label="Entrar" variant="primary" (click)="entrar()"></app-button>
      <app-button label="Cadastrar" variant="secondary" (click)="cadastrar()"></app-button>
    </div>
  </div>

  <footer class="fixed -bottom-8 -right-8 pointer-events-none z-10">
    <img src="../../assets/logo_circular_2.svg" alt="" />
  </footer>
</div>
