<div class="w-[50%] justify-self-center grid gap-8">
  <header>
    <h1 class="font-medium text-4xl">Olá, {{ nomeUsuario }}</h1>
    <span class="text-2xl">Seus churrascos</span>
  </header>

  <section
    *ngIf="listaChurrascos.length > 0"
    class="border-t-2 border-b-2 border-bege_one w-full h-[80%] grid gap-7 py-7 overflow-auto"
  >
    <div

      *ngFor="let churrasco of listaChurrascos"
      class="cardChurrasco grid grid-cols-3 hover:bg-background_one border-red_one border-[3px] rounded-xl "
    >
      <!-- imagem card  -->
      <div    (click)="verComprovante(churrasco.id)" class="cursor-pointer col-span-1 flex justify-center p-5 relative">
        <img class="h-44" src="./assets/churrasqueira-acesa.svg" alt="Churrasqueia Acesa" />
        <div class="h-[150px] absolute right-0 top-7 bottom-3 w-[3px] bg-[#c0392b]"></div>
      </div>

      <!-- informações card  -->
      <div class="col-span-2 grid px-5">
        <div class="flex justify-between justify-items-center items-center">
          <h2 class="text-2xl text-red_one font-semibold tracking-[4px]">{{ churrasco?.nome }}</h2>
          <button
            (click)="removerChurrasco(churrasco.id)"
            class="text-xl text-red_two font-semibold"
          >
            X
          </button>
        </div>

        <ul class="list-disc text-2xl text-brown_two pl-5 mt-2">
          <li>{{ churrasco?.qtd_pessoas }} pessoas</li>
          <li>{{ churrasco?.data }}</li>
        </ul>

        <button
        (click)="editarChurrasco(churrasco.id)"
          class="underline text-red_two cursor-pointer font-semibold text-lg justify-self-end"
        >
          Editar
        </button>
      </div>
    </div>
  </section>

  <section
    *ngIf="listaChurrascos.length === 0"
    class="border-t-2 border-b-2 border-bege_one w-full h-full grid gap-7 py-7 overflow-auto justify-center justify-items-center"
  >
    <span class="text-brown_two font-medium text-2xl">A churrasqueira ainda está fria ...</span>
    <img class="h-44 my-4" src="./assets/churrasqueira-apagada.svg" alt="Churrasqueia Apagada" />

    <span class="text-brown_two font-medium text-2xl"
      >Planeje e descubra a quantidade ideal de cada item !</span
    >
  </section>
  <app-button class="" label="+ NOVO CHURRASCO" variant="primary" (click)="criarChurrasco()"></app-button>
</div>
