<header class="bg-gradient-to-r from-orange_two to-red_two h-16 fixed w-full justify-center items-center flex z-50">
  <img class="h-[3rem] flex right-2" src="./assets/logo_simples.svg" alt="Meu Churras" />
  <button class="text-white underline text-xl cursor-pointer font-bold mr-3 absolute right-7">Sair</button>
</header>

<section class="page-content bg-background_two h-full overflow-auto pt-28 text-gray">
  <router-outlet />

  <img class="fixed -bottom-8 -right-8 pointer-events-none z-10" src="./assets/logo_circular_1.svg" alt="Carimbo Meu Churras">
</section>
